mixin alert-success(time)
    if messages.success
        .message.info 
            div.alert.alert-success(show-alert data-time="5000")
                | #{messages.success[0]} 
                span(close-alert) X